
<mat-toolbar color="primary">
  <span>All4One</span>
  <div class="spacer">
  <div class="searchbox">
    <form>
      <input type="text" placeholder=" Search...." name="search">
      <button type="submit">Search</button>
    </form>
  </div>
  </div>
  <a mat-button routerLink="/login"> Login</a>
  <a mat-button routerLink="/register"> Register</a>
  <a mat-button routerLink="/produse"> Products</a>
  <a mat-button routerLink="/forgot"> Change Password</a>
  <a mat-button routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
  </a>



</mat-toolbar>
